# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build output
dist/
build/

# Misc
*.local

# Coverage
coverage/

# Others
.env.*.local
Campus-API-Gateway.postman_collection.json
uploads/
RELEASE-v1.0.0.md
bfg-1.14.0.jar